html{
    height:100%;
}

hr{
    text-align: left;
    background-color:#296d98;
    width:400px;
}

div.video{
  margin-top: 1%;
  text-align: center;
}

div.container{
  margin-top: 2%;
  text-align: left;
}

p.team{
  text-align:center;
  color:#096687;
}

img.team{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
  height:65%;
  width:100%;
}

img.copyright{
  height:10%;
  width:1.2%;
}

button{
    margin: 0 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
